
body {
background-color: #00252e;
background-image: url("src/img/bg2.png");
background-position: left top;
background-repeat: repeat-x;
background-size: 200px;
color: #666;
}

::selection {
background-color: red;
color: white;
}

a {
color: #cb821e;
}

a:hover {
color: #cb821e;
}

a:active{
color: #cb821e;
}

a:visited{
color: #cb821e;
}

div {
background-color: rgba(0,0,0,0.9);
border-radius: 5px;
}

.header {
padding: 5px;
margin-bottom: 2px;
margin-top: 5px;
padding-top: 15px;
}

.footer {
margin-top: 2px;
}


/* Search-box */
.search-box {
margin-bottom: 2px;
}

.search-box div[class^="col"] {
padding: 2px;
}

.search-advanced div[class^="col"] {
} 

input + .search-checkbox {
background-color: #000;
margin-left: 4px;
margin-top: 2px;
box-shadow: none;
}

input:not(:checked):focus + .search-checkbox {
border: 1px solid #cb821e;
background-color: #000;
box-shadow: 0px 0px 1px 1px #9f4200;
}

input:checked:focus  + .search-checkbox {
border: 1px solid #cb821e;
background-color: #000;
box-shadow: 0px 0px 1px 1px #9f4200;
}

input:not(:checked):not(:focus) + .search-checkbox {
border: 1px solid gray;
background-color: #000;
box-shadow: none;
}

input:checked:not(:focus)  + .search-checkbox {
border: 1px solid #cb821e;
background-color: #000;
box-shadow: none;
}

.search-advanced-link {
color: gray;
}

.search-button {
background: #111;
border: 1px solid gray;
padding: 4px;
width: 100%;
color: #cb821e;
}

.search-button:hover {
border: 1px solid #cb821e;
box-shadow: 0px 0px 1px 1px #9f4200;
}

#search-field {
background: #000;
height: 101%;
padding: 3px;
border: 1px solid gray;
}

#search-field:focus {
border: 1px solid #cb821e;
color: #cb821e;
box-shadow: 0px 0px 1px 1px #9f4200;
}
#search-field:hover {
border: 1px solid #cb821e;
color: #cb821e;
box-shadow: 0px 0px 1px 1px #9f4200;
}


#search-options.show {
display: block!important;
}


/* Results */
.results {
border-radius: 5px;
overflow-x: hidden;
}

.results div[class^="col"] {
}

.results-header div[class^="col"] {
background-color: #222;
color: #888;
border-radius: 0px;
}

.results-header {
}